In [1]:
import geopandas as gpd
from sqlalchemy import create_engine, text
from geoalchemy2 import Geometry, WKTElement
from sqlalchemy.orm import sessionmaker
from sqlalchemy.exc import SQLAlchemyError

NAČÍTANIE DÁT

In [2]:
data_input = gpd.read_file(r'./source-files/3_prelozene.geojson')

In [3]:
data_input

,index,id,opustene,pristup,adresa_PSC,adresa_ulica,adresa_cislodomu,zariadenie,budova,kontakt_instagram,...,hokej,volejbal,plavanie,viacucelove,zdroj,status,obec_id,okres_id,kraj_id,geometry
0,11558,node/10003968772,None,None,08001,Škultétyho,None,None,None,None,...,0,0,1,0,OpenStreetMap,Aktívne,1823,48.0,5.0,POINT (21.24419 48.98785)
1,11559,node/10084161428,None,Áno,None,None,None,None,None,None,...,0,0,0,0,OpenStreetMap,Aktívne,2920,79.0,8.0,POINT (18.74262 49.21629)
2,11560,node/10084161430,None,Áno,None,None,None,None,None,None,...,0,0,0,0,OpenStreetMap,Aktívne,2920,79.0,8.0,POINT (18.73872 49.21501)
3,11561,node/10159452050,None,Áno,None,None,None,None,None,None,...,0,0,0,0,OpenStreetMap,Aktívne,2279,65.0,4.0,POINT (18.17113 48.55325)
4,11562,node/10253818042,None,None,None,None,None,None,None,None,...,0,0,0,0,OpenStreetMap,Aktívne,155,4.0,2.0,POINT (17.11560 48.15653)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12419,8611,way/998690024,None,None,None,None,None,None,None,None,...,0,0,0,0,OpenStreetMap,Aktívne,2886,32.0,1.0,"POLYGON ((19.81850 48.30302, 19.81889 48.30256..."
12420,8612,way/999288148,None,None,None,None,None,None,None,None,...,0,0,0,0,OpenStreetMap,Aktívne,2303,67.0,6.0,"POLYGON ((18.16784 48.90731, 18.16819 48.90732..."
12421,8613,way/999288152,None,None,None,None,None,None,None,None,...,0,0,0,0,OpenStreetMap,Aktívne,2303,67.0,6.0,"POLYGON ((18.16776 48.90543, 18.16800 48.90537..."
12422,8614,way/999288153,None,None,None,None,None,None,None,None,...,0,0,0,0,OpenStreetMap,Aktívne,2303,67.0,6.0,"POLYGON ((18.16804 48.90597, 18.16787 48.90601..."
12423,8615,way/999288154,None,None,None,None,None,None,None,None,...,0,0,0,0,OpenStreetMap,Aktívne,2303,67.0,6.0,"POLYGON ((18.16790 48.90571, 18.16774 48.90575..."

PRIPOJENIE K DATABÁZE

In [4]:
host = '161.35.28.162'
dbname = 'bakalarka_sportoviska'
user = 'tomas'
password = 'waedgyasd8'
port = 5432
table_name = 'sportoviska_source'

In [5]:
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{dbname}')

NAČÍTANIE ŠPORTOVÍSK, OBCÍ, OKRESOV A KRAJOV DO DB

In [6]:
data = data_input.copy()

data['geom'] = data['geometry'].apply(lambda x: WKTElement(x.wkt, srid=4326))
data.drop('geometry', axis=1, inplace=True)

# Vytvori session
Session = sessionmaker(bind=engine)
session = Session()

# V ramci session sa pokusi nahrat DataFrame do databazy
try:
    data.to_sql(table_name, engine, if_exists='replace', index=False,
                dtype={'geom': Geometry(geometry_type='GEOMETRY', srid=4326)})

    # v pripade uspenseho nahrania sa commitnu transakcie prevedene pocas sessionu
    session.commit()

except SQLAlchemyError as e:
    # v pripade neuspesneho nahrania sa transakcie prevedene pocas sessionu vratia naspat a nasledne sa session ukonci
    session.rollback()
    session.close()
    raise (f"Error pri nacitani sportovisk do databazy: {e}")

In [7]:
obec_okres_kraj = gpd.read_file(r'./source-files/obec_okres_kraj.geojson', driver = 'GeoJSON')
obec_okres_kraj['geom'] = obec_okres_kraj['geometry'].apply(lambda x: WKTElement(x.wkt, srid=4326))
obec_okres_kraj.drop('geometry', axis=1, inplace=True)

Session = sessionmaker(bind=engine)
session = Session()

try:
       obec_okres_kraj.to_sql('obec_okres_kraj', engine, if_exists='replace', index=False,
                       dtype={'geom': Geometry(geometry_type='GEOMETRY', srid=4326),
                              })
       session.commit()

except SQLAlchemyError as e:
       session.rollback()
       session.close()
       raise (f"Error pri nacitani obci do databazy: {e}")

EXEKÚCIA POTREBNÝCH SQL SKRIPTOV

In [8]:
def execute_sql_script(conn, script_path):
    """
    Načíta SQL skript zo súboru a spustí ho na databáze.

    Argumenty:
    conn (sqlalchemy.engine.Connection): Pripojenie k databáze, na ktorej sa má spustiť SQL skript.
    script_path (str): Cesta k súboru obsahujúcemu SQL skript.

    Návratová hodnota:
    None

    Príklad použitia:
    >>> engine = create_engine('postgresql://user:password@localhost/mydatabase')
    >>> conn = engine.connect()
    >>> execute_sql_script(conn, 'path/to/script.sql')
    """
    # Načíta obsah SQL skriptu zo súboru
    with open(script_path, 'r', encoding="utf8") as file:
        sql_script = file.read()

    # Vykoná SQL skript na pripojenej databáze
    conn.execute(text(sql_script))


Session = sessionmaker(bind=engine)
session = Session()

try:
    with engine.connect() as conn:
        with conn.begin():
            rename_column = text("""
                ALTER TABLE public.sportoviska_source
                RENAME COLUMN id TO osm_id;
            """)
            conn.execute(rename_column)

            add_column = text("""
                ALTER TABLE public.sportoviska_source
                ADD COLUMN id SERIAL;
            """)
            conn.execute(add_column)

            execute_sql_script(conn, r'./sql-scripts/creating_tables.sql')
            execute_sql_script(conn, r'./sql-scripts/fill_tables.sql')

    session.commit()

except SQLAlchemyError as e:
    session.rollback()
    session.close()
    raise (f"Error pri spustani SQL skriptov na databaze: {e}")